/*   Template CSS for Home Inventory     */  
* {
   margin: 0;
   padding: 0;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display:block;
}

img, embed, object, video {
  max-width: 100%;
}

html, body {
	background-color: #FFFFFF;	/* white */
	font-size: 18px;			/* used as the basis for all font sizes, margins, paddings, widths, etc.) */
	line-height: 1.4;			/* one and a half times the font height */
	font-family: 'Lato', sans-serif; 
	font-weight: 400;			/* normal */
	color: #333333;				/* dk. grey specified by client  */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	max-width: 960px;
	margin: 0 auto;
	height: 1500px;
}

html {
	background-color: #e7ffb8;
}

::selection {
  background: #90C32E;
  color: #FFFFFF;
  text-shadow: none;
}

input.middle:focus {
    outline-width: 0;
}

input:focus, select:focus, textarea:focus, button:focus {
    outline: #90C32E;
}

/*  ----------------    COLOR PALLETTE    ---------------- */

/*#004800 Used for headings
#90C32E Used for panel backgrounds
#333333 Used for text
#387929 Available for use as applicable
#ad102a For Errors   
#D7FE8B For Light Green backgrounds in tab headers, etc.

*/


/*  ----------------    TYPOGRAPHY        ----------------*/

/*   Loading TTF fonts specified by client FUTURA Normal and Futura Bold   */

@import url(http://allfont.net/css/?fonts=futura-normal);

@font-face {
	font-family: Lakesight;
	src: url("../fonts/Lakesight_PersonalUseOnly.ttf");
}

@font-face {
    font-family: Futura;
    src: url("../fonts/futura.ttf");
}

@font-face {
    font-family: FuturaBold;
    src: url("../fonts/FuturaBold.ttf");
}

@font-face {
    font-family: futuraItalic;
    src: url("../fonts/futuraItalic.ttf");
}

@font-face {
	font-family: 'futura-md-bt-bold';
	src: url("../fonts/futura-md-bt-bold.ttf");
}
/*  ----------------    STANDARD SETTINGS     ---------------- */

h1 {
	font-size: 1.8rem;		/* 40px/18px */
	font-family: 'Futura';
	color: #004800;     /*  Dark green specified by client   */
	text-align: center;
	margin-bottom: 20px;
}

h2 {
	font-size: 1.5rem;
	margin-bottom: 20px;
	font-family: 'Futura';
	color: #004800;     /*  Dark green specified by client   */
	text-align: center;	

}

h3 {
	font-size: 1.2rem;
	margin-bottom: 20px;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	color: #004800;     /*  Dark green specified by client   */
	text-align: center;	
}

p {
	font-size: 1.4rem;
	color: #333333;     /*Dark grey specified by client     */
}
a {
	color: inherit;
	text-decoration: none;
}

/*  ----------------    BODY     ---------------- */

.page_wrapper {
	position: relative;
	width: 100%;
	margin-bottom: 50px;
}

.content {
	clear: both;
	width: 100%;
	position: relative;
	margin-top: 30px;
}

/* -----------------------     HEADERS  & UPPER NAV    ----------------------------*/

.header1 {
	width: 60%;
	margin: 0 auto 3% auto;
	position: relative;
}

.header2 {
	width: 90%;
	margin: 2% auto 0 auto;
}

.header3 {
	width: 90%;
	margin: 2% auto 0 auto;
	position: relative;
}

header {
	width: 90%;
	margin: 20px auto;
}

.side_logo {
	float: left;
	margin-top: 28px;
	margin-bottom: 30px;
}

/*.header_welcome {
	width: 30%;
	float: left;
	margin-left: 5%;
}*/

.header_title {
	float: left;
	margin: 40px auto 30px auto;
}

#header_session_name {
/*    text-transform: uppercase;	*/
    font-size: 2.5rem;
    font-family: 'Lakesight', cursive;
}

nav {	
	clear: both;
	position: relative;
	margin: 0 auto;	
}

.dropdown {
	position: relative;
	width: 22%;
	float: left;
	margin-right: 4%;
	margin-bottom: 30px;
	display: inline-block;
	z-index: 20;
}

.dropdown:last-child {
	margin-right: 0;
}

.dropdown_menu {
    position: absolute;
    top: 100%;
    left: 0;
    margin: 0;
    list-style: none;    			/** Remove list bullets */
    display: none;
}

.dropdown:hover .dropdown_menu {
    display: block;      			/** Show dropdown menu */
    list-style: none;    			/** Remove list bullets */
    width: 100%;         			/** Set the width to 100% of it's parent */
    padding: 0;
	background-color: #90C32E;     	/* Medium Green */
	color: #FFFFFF;

}

.dropdown button:hover {
	background-color: #90C32E;     	/* Medium Green */
	color: #FFFFFF;	
}
.dropdown button {            		/** Button Styles **/ 
    width: 100%;
    background: #D7FE8B;            /* Light Green   */
    color: #333333;
    padding: 8px 0;
    font-size: 1em;
    outline: none;
	border: solid 4px #90C32E;     	/* Medium Green */
}

.dropdown_menu li {
	text-align: center;
	border-left: 2px solid #90C32E;
	border-right: 2px solid #90C32E;
	border-bottom: 2px solid #90C32E;
}

.dropdown_menu a {                 		/** List Item Styles **/
    display: block;
    width: 100%;
    padding: 4px;
    text-decoration: none;
    background: #D7FE8B;               /* Light Green   */
    color: #333333;
}

/** List Item Hover Styles **/
.dropdown a:hover {
    background-color: #90C32E;     	/* Medium Green */
    color: #FFFFFF;
}


/* ----------------------    LOGIN AND REGISTRATION --------------------- */

.login_wrapper {
	width: 70%;
	margin: 0 auto;
	border: 4px solid #90C32E;     /* Medium Green */  
	padding: 2%;
}
#login p {
	font-size: 1.4rem;
	text-align: center;
	margin-bottom: 25px;
}

#login input.error, {
	border: 2px solid #AD102A;     /*   Dark Red  */
	color: #AD102A;
}

#login label.error {
	color: #AD102A;
	float: left;
    border: none;
	position: absolute;
	margin-top: -5px; 
	margin-left: 250px;
	white-space: nowrap;
	z-index: 20;
	font-size: 16px;
}
.red_text h2{
	color: #ad102a;     /*   Dark Red color for :link pseudo;  */
}

#login button, #login_header button, .forgot button {
	background-color: #D7FE8B;          /*Light Green */
	color: #333333;
	font-size: 1.2rem;
	outline: 2px solid #90C32E;
	padding: 5px;
	border: none;
	margin-right: 10px;
	margin-bottom: 10px;
}

#login_header button {
	margin-top: -15px;
	margin-left: 10px;
}

.forgot {
	font-size: 1.2rem;
	font-family: 'Lato', sans-serif;
	font-style: italic;
	color: #ad102a;     /*   Dark Red color for :link  */;
	text-align: center;
}

.registration_wrapper {
	width: 90%;
	margin: 0 auto;
	border: 4px solid #90C32E;     /* Medium Green */  
	padding: 1.5%;
	position: relative;	
}

#registration p {
	font-size: 1.2rem;
	text-align: left;
	margin-bottom: 10px;
}

#registration p:last-child {
	clear: both;
	text-align: center;
}
.two_wide, .two_long_wide {
	width: 46%;
	margin-right: 3%;
	float: left;
	position: relative;	
}

.two_wide label {
    float: left;
    padding-right: 5px;
    width: 35%;
    text-align: right;
}

.two_wide input {
  	float: left;
  	width: 65%;
  	font-size: 1rem;
}

.two_long_wide label {
    float: left;
    padding-right: 5px;
    width: 45%;
    text-align: right;
}

.two_long_wide input {
  	float: left;
  	width: 55%;
}

.one_wide {
	position: relative;
	width: 100%;
	clear: both;
}
.space {
	margin-bottom: 40px;
}
#registration .one_wide label{
    float: left;
    padding-right: 5px;
    width: 24%;
    text-align: right;
}

#registration input.error, {
	border: 2px solid #AD102A;     /*   Dark Red  */
	color: #AD102A;
}

#registration label.error {
	color: #AD102A;
	float: left;
	padding-left: 10px;
    width: 33%;
    text-align: left;
}

.one_wide label {
   float: left;
    padding-right: 5px;
    width: 16%;
    text-align: right;	
}

.one_wide input {
  	float: left;
  	width: 40%;
  	margin-bottom: 10px
}

input, select, textarea {
	font-size: 1.4rem;
	line-height: 1.6rem;
	border: 2px solid #90C32E;        /* Medium Green */  
}

input[type=submit] {
	background-color: #90C32E;     /* Medium Green */
	color: #FFFFFF;                 /* White text */
	padding: 5px 25px;
	cursor: pointer;
	outline: none;
} 

input:focus {
	border: 2px solid #004800;     /*  Dark green specified by client   */
}

/*.simple-tooltip[title]:hover:after {
  	content: attr(title);
	font-size: .75em;
	background-color: #D7FE8B;         
	color: #333333;
	outline: 2px solid #90C32E;
	padding: 0 2px;
	border: none;
	position: absolute;
	left: 120px;
	top: 70%;
	white-space: nowrap;
	z-index: 20;
}*/

/* ----------------------    LANDING --------------------- */

.property_wrapper {
	display: block;
	width: 100%;
	position: relative;
	clear: both;
	margin-top: 5%;
	overflow: hidden;
}

.property_box {
	width: 40%;
	height: 150px;
	margin-left: 10%;
	background-color: #90C32E;     /* Medium Green */
	position: relative;
	float: left;
	padding: 10px;
	overflow: hidden;
}

.property_box p {
	color: #FFFFFF;
	width: 68%;
	float: left;
	line-height: 1.3rem;
	margin-top: 2%;
}

.property_box img {
	width: 28%;
	float: left;
	margin: 2%;
}

.add_new_property {
	width: 40%;
	height: 150px;
	margin-left: 10%;
	background-color: #90C32E;     /* Medium Green */
	position: relative;
	clear: both;
	margin-top: 25px;
	padding: 10px;
}

.add_new_property p {
	color: #FFFFFF;
	width: 90%;
	float: left;
	line-height: 1.3rem;
	margin: 2%;
}

#data_wrapper {
	position: relative;
	top: 40px;
    border: 4px solid #90C32E;
    padding: 20px; 
	margin: 0 5%;
}

#treemain {
	position: relative;
}

#toggle_view_buttons {
	position: absolute;
	right: 23px;
	top: 20px;
	z-index: 10;
	/* This CSS makes the grid/tree toggler position over gridmain/treemain so that the JavaScript works  */
}

#toggle_view_buttons button {
	float: right;
	padding: 5px;
	background-color: #FFFFFF;
	color: #333333;
	font-size: 1rem;
	outline: 2px solid #90C32E;
	padding: 5px;
	border: none;
}
.viewwidget button {
	background-color: #FFFFFF;
	color: #333333;
	font-size: 1rem;
	outline: 2px solid #90C32E;
	padding: 5px;
	border: none;
	margin-right: 10px;
	margin-bottom: 10px;
}

.viewwidget button:hover {
	background-color: #90C32E;
	color: #FFFFFF;
}

#gridmain {
	position: relative;
	top: -40px;
}

#grid-basic thead, #grid-basic tr{
	font-size: 1.2rem;
	color: #333333;
}

#grid-basic thead th {
	border-bottom: 2px solid #90C32E;
}

#grid-basic tbody tr.even {
	border-bottom: 2px solid #90C32E;
}

#grid-basic tr.odd, #grid-basic tbody tr.odd>.sorting_1 {
	background-color: #D7FE8B;
}

#grid-basic.dataTable.no-footer  {
	border-bottom: 2px solid #90C32E;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
	background: #D7FE8B !important;
	border: 1px solid #90C32E !important;
}

#gridmain input, #gridmain select, #gridmain label{
	font-size: 1rem;
}

#grid-basic table {
	border-color: #90C32E;
}

/* ----------------------    TABBED FORMS   --------------------- */

#add_item, #add_property, #add_room, #user_info {
	font-size: 1.1rem;
}

#tabs {
	width: 90%;
	margin: 0 auto 100px auto;
	font-size: 1.2rem;
	overflow: hidden;
}

#tabs:focus {
	outline: #90C32E;
}
#tabs p {
	font-size: 1rem;
}
.tabs_nav {
	height: auto;
}

.tab_two_wide, .tab_two_long_wide {
	width: 48%;
	margin-right: 2%;
	float: left;
	position: relative;	
	margin-bottom: 10px;
}

.tab_two_wide label {
    float: left;
    padding-right: 5px;
    width: 48%;
    text-align: right;
}

.tab_two_wide select, .tab_one_wide select {
	height: 35px;
} 

.tab_two_wide input, .tab_two_wide select {
  	float: left;
  	width: 50%;
}

.tab_two_long_wide label {
    float: left;
    padding-right: 5px;
    width: 48%;
    text-align: right;
}

.tab_two_long_wide input {
  	float: left;
  	width: 52%;
}

.tab_one_wide .tab_one_wide_text, .tab_one_xwide, .tab_one_wide_text {
	position: relative;
	width: 100%;
	clear: both;
}

.tab_one_wide_text {
	overflow: hidden;
}

.tab_one_wide label, .tab_one_wide_text label {
    float: left;
    padding-right: 5px;
    width: 23%;
    text-align: right;
}

.tab_one_wide input, .tab_one_wide select, .tab_one_wide_text textarea {
  	float: left;
  	width: 74%;
  	margin-bottom: 10px;
}

.tab_one_xwide label {
    float: left;
    padding-right: 5px;
    width: 26%;
    text-align: right;
}

.tab_one_xwide input {
 	float: left;
  	width: 73.5%;
  	margin-bottom: 10px;	
}

.tab_one_wide_text textarea {
	width: 74%;
	height: 90px;
	overflow: hidden;
}

p.centered_button {
	display: block;
	text-align: center;
	clear: both;
}

.simple_tooltip i{
	width: 6px;
	color: red;
}

.add_file, .scan_file {
	position: absolute;
	right: 20px;
	padding: 5px;
	background-color: #D7FE8B;          /*Light Green */
	color: #333333;
	font-size: 1rem;
	outline: 2px solid #90C32E;
	padding: 5px;
	border: none;
	margin-bottom: 10px;
	width: 125px;
}

.add_file {
	top: 125px;
}

.scan_file {
	top: 175px;
}

.scan_under_construction {
	position: absolute;
	right: 20px;
	top: 208px;
	font-size: 10px;
	line-height: 14px;
	color: #333333;	
}
.scan_under_construction img {
	width: 1rem;
}


span img {
	width: 1rem;
}

@media screen and (max-width:950px) {

	.tab_one_wide label, .tab_two_wide label, .tab_two_long_wide label, .tab_one_wide_text label, .tab_one_xwide label {
	    width: 35%;
	    margin-bottom: 20px;
	}

	.tab_one_wide input, .tab_two_wide input, .tab_two_long_wide input, .tab_one_wide_text textarea, .tab_one_xwide input, .tab_one_wide select  {
	  	width: 60%;
	  	margin-bottom: 20px;
	}
}

/*             ----------------------------------   POP-UP PHOTO  -----------------------------------         */

#pop-up_header {

}



/*             ---------------------   USER PROFILE  -----------------------         */

.coverage {
	width: 100%;
	clear: both;
}

.coverage label {
	width: 35%;
	padding-right: 5px;
	text-align: right;
	float: left;
}

.coverage input {
  	float: left;
  	width: 45%;
  	margin-bottom: 10px;
}

.password_tab {
	margin-left: 5%;
}

.password_tab h3 {
	font-family: 'Lato', sans-serif;
	font-size: 1.2rem;
	font-weight: 700;
	text-align: left;
	clear: both;
}
.password_tab p {
	width: 60%;
	margin: 10px auto;
}