/*   Template CSS for Home Inventory     */  
* {
   margin: 0;
   padding: 0;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display:block;
}

img, embed, object, video {
  max-width: 100%;
}

html, body {
	background-color: #FFFFFF;	/* white */
	font-size: 18px;			/* used as the basis for all font sizes, margins, paddings, widths, etc.) */
	line-height: 1.4;			/* one and a half times the font height */
	font-family: 'futura-normal', arial; 
	font-weight: 400;			/* normal */

	color: #333333;				/* dk. grey specified by client  */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	max-width: 1500px;
}

::selection {
  background: #90C32E;
  color: #FFFFFF;
  text-shadow: none;
}

input.middle:focus {
    outline-width: 0;
}

input:focus, select:focus, textarea:focus, button:focus {
    outline: #90C32E;
}

/*  ----------------    COLOR PALLETTE    ---------------- */

/*#004800 Used for headings
#90C32E Used for panel backgrounds
#333333 Used for text
#387929 Available for use as applicable
#ad102a For Errors   
#D7FE8B For Light Green backgrounds in tab headers, etc.
*/


/*  ----------------    TYPOGRAPHY        ----------------*/

/*   Loading TTF fonts specified by client FUTURA Normal and Futura Bold   */

@import url(http://allfont.net/css/?fonts=futura-normal);

@font-face {
    font-family: Futura;
    src: url("../fonts/futura.ttf");
}

@font-face {
    font-family: futuraItalic;
    src: url("../fonts/futuraItalic.ttf");
}

@font-face {
	font-family: 
	;
}
/*  ----------------    STANDARD SETTINGS     ---------------- */

h1 {
	font-size: 1.8rem;		/* 40px/18px */
	font-family: 'Futura', arial;
	color: #004800;     /*  Dark green specified by client   */
	text-align: center;
	margin-bottom: 2%;
}

h2 {
	font-size: 1.5rem;
	margin-bottom: 2%;
	font-family: 'Futura', arial; 
	color: #004800;     /*  Dark green specified by client   */
	text-align: center;	
}

p {
	font-size: 1.4rem;
	color: #333333;     /*Dark grey specified by client     */
}
a {
	color: inherit;
	text-decoration: none;
}

/*  ----------------    BODY     ---------------- */

.page_wrapper {
	position: relative;
	width: 100%;
	margin-bottom: 50px;
}

.content {
	clear: both;
	width: 100%;
	position: relative;
	margin-top: 30px;
}

/* -----------------------     HEADERS  & UPPER NAV    ----------------------------*/

.header1 {
	width: 60%;
	margin: 0 auto 3% auto;
	position: relative;
}

.header2 {
	width: 90%;
	margin: 2% auto 0 auto;
}

.header3 {
	width: 90%;
	margin: 2% auto 0 auto;
	position: relative;
}

.side_logo {
	width: 40%;
	float: left;
	margin-left: 5%;
}

.header_welcome {
	width: 30%;
	margin: 100px auto 0 auto;
	float: left;
}

.header_welcome h1 {
	margin-bottom: 0px;
}

.header_welcome h1:last-child {
	margin-bottom: 40px;
}

.header_title {
	position: absolute;
	left: 40%;
	top: 5%;
}

#header_session_name {
	margin-top: 5%;
    text-transform: uppercase;	
}

nav {
	width: 100%;
	clear: both;
	display: block;
	margin-bottom: 5%;
}

.upper_buttons {	
	width: 80%;
	margin: 0 auto;
	list-style: none;
	position: relative;
	z-index: 10;
}

.upper_buttons li {
	list-style: none;
	width: 22%;
	margin-right: 3%;
	float: left;
	font-size: 1.2rem;
}

.upper_buttons li a:link, .upper_buttons li a:visited {
	display: block;
	text-decoration: none;
	text-align: center;
	padding: 5px 0;
	margin: 0;
	border: 4px solid #90C32E;     /* Medium Green */ 
	color: #333333;
}

.upper_buttons li a:hover {
	background-color: #90C32E;      /* Medium Green */	
	color: #FFFFFF;
}

/*style the sub menu*/
.upper_buttons li ul {
	position: absolute;
	visibility: hidden;
	margin: 0;
	padding: 0;
	width: 22%;
	border: 1px solid #90C32E; 
}

.upper_buttons li ul li {
	display: inline;
	float: right;
	width: 100%;
	margin: 0;
	padding: 0;
	background-color: #d7fe8b;
	border: 0;
}

.upper_buttons li ul li a:link, .upper_buttons li ul li a:visited {
	width:auto;
	border-bottom: 1px;  
}

.upper_buttons li ul li a:hover {
	background-color: #90C32E;     /* Medium Green */
	color: #FFFFFF;	
	border: 0;  
	border-bottom: 1px;
}

@media screen and (max-width:1250px) {
	 .header_title {
		left: 30%;
		top: 3%;
	 }
	 h1 {
	 	font-size: 1.6rem;
	 }
}

@media screen and (max-width:900px) {
	 .header_title {
		left: 25%;
		top: 1%;
	 }
	 h1 {
	 	font-size: 1.3rem;
	 }
	 h2 {
	 	font-size: 1.2rem;
	 }
}

@media screen and (max-width:650px) {
	 .header_title {
		left: 30%;
		top: 1%;
	 }
	 h1 {
	 	font-size: 1.1rem;
	 }

	 h2 {
	 	font-size: 1.0rem;
	 }
}



/* ----------------------    LOGIN AND REGISTRATION --------------------- */

.login_wrapper {
	width: 60%;
	margin: 0 auto;
	border: 4px solid #90C32E;     /* Medium Green */  
	padding: 2%;
}
#login p {
	font-size: 1.8rem;
	text-align: center;
}

a#register_link {
	color: #ad102a;     /*   Dark Red color for :link pseudo;  */
}

.forgot {
	font-size: 1.2rem;
	font-family: futuraItalic;
	color: #ad102a;     /*   Dark Red color for :link  */;
	margin: 1% 0;
	text-align: center;
}

.registration_wrapper {
	width: 90%;
	margin: 0 auto;
	border: 4px solid #90C32E;     /* Medium Green */  
	padding: 1.5%;
	position: relative;	
}

#registration p {
	font-size: 1.2rem;
	text-align: left;
	margin-bottom: 10px;
}

#registration p:last-child {
	clear: both;
	text-align: center;
}
.two_wide, .two_long_wide {
	width: 46%;
	margin-right: 3%;
	float: left;
	position: relative;	
}

.two_wide label {
    float: left;
    padding-right: 5px;
    width: 25%;
    text-align: right;
}

.two_wide input {
  	float: left;
  	width: 75%;
}

.two_long_wide label {
    float: left;
    padding-right: 5px;
    width: 35%;
    text-align: right;
}

.two_long_wide input {
  	float: left;
  	width: 65%;
}

.one_wide {
	position: relative;
	width: 100%;
	clear: both;
}
.space {
	margin-bottom: 40px;
}
.one_wide label{
    float: left;
    padding-right: 5px;
    width: 11.5%;
    text-align: right;
}

.one_wide input {
  	float: left;
  	width: 70%;
  	margin-bottom: 10px
}

input, select, textarea {
	font-size: 1.4rem;
	line-height: 1.6rem;
	border: 2px solid #90C32E;        /* Medium Green */  
}

input[type=submit] {
	background-color: #90C32E;     /* Medium Green */
	color: #FFFFFF;                 /* White text */
	padding: 5px 25px;
	cursor: pointer;
	outline: none;
} 

input:focus {
	border: 2px solid #004800;     /*  Dark green specified by client   */
}

@media screen and (max-width:1250px) {

	.two_wide, .two_long_wide {
		width: 100%;
		clear: both;
	}

	.one_wide label, .two_wide label, .two_long_wide label {
	    width: 22%;
	}

	.one_wide input, .two_wide input, .two_long_wide input {
	  	width: 73%;
	}
}

@media screen and (max-width:900px) {

	.one_wide label, .two_wide label, .two_long_wide label {
	    width: 35%;
	}

	.one_wide input, .two_wide input, .two_long_wide input {
	  	width: 60%;
	}
}



/* ----------------------    LANDING --------------------- */

.property_wrapper {
	display: block;
	width: 100%;
	position: relative;
	clear: both;
	margin-top: 5%;
	overflow: hidden;
}

.property_box {
	width: 40%;
	height: 150px;
	margin-left: 10%;
	background-color: #90C32E;     /* Medium Green */
	position: relative;
	float: left;
	padding: 10px;
	overflow: hidden;
}

.property_box p {
	color: #FFFFFF;
	width: 68%;
	float: left;
	line-height: 1.3rem;
	margin-top: 2%;
}

.property_box img {
	width: 28%;
	float: left;
	margin: 2%;
}

.add_new_property {
	width: 40%;
	height: 150px;
	margin-left: 10%;
	background-color: #90C32E;     /* Medium Green */
	position: relative;
	clear: both;
	margin-top: 25px;
	padding: 10px;
}

.add_new_property p {
	color: #FFFFFF;
	width: 90%;
	float: left;
	line-height: 1.3rem;
	margin: 2%;
}


#data_wrapper {
	position: relative;
	top: 40px;
    border: 4px solid #90C32E;
    padding: 20px; 
	margin: 0 5%;
}

#treemain {
	position: relative;
}

.viewwidget button {
	background-color: #FFFFFF;
	color: #333333;
	font-size: 1rem;
	outline: 2px solid #90C32E;
	padding: 5px;
	border: none;
	margin-right: 10px;
	margin-bottom: 10px;
}

.viewwidget button:hover {
	background-color: #90C32E;
	color: #FFFFFF;
}

#gridmain {
	position: relative;
	top: -40px;
}


#grid-basic thead, #grid-basic tr{
	font-size: 1.2rem;
	color: #333333;
}

#grid-basic thead th {
	border-bottom: 2px solid #90C32E;
}

#grid-basic tbody tr.even {
	border-bottom: 2px solid #90C32E;
}

#grid-basic tr.odd, #grid-basic tbody tr.odd>.sorting_1 {
	background-color: #D7FE8B;
}

#grid-basic.dataTable.no-footer  {
	border-bottom: 2px solid #90C32E;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
	background: #D7FE8B !important;
	border: 1px solid #90C32E !important;
}

#gridmain input, #gridmain select, #gridmain label{
	font-size: 1rem;
}

#grid-basic table {
	border-color: #90C32E;
}




@media screen and (max-width:1250px) {


}

@media screen and (max-width:900px) {


}





/* ----------------------    TABBED FORMS   --------------------- */

#add_item, #add_property, #add_room, #user_info {
	font-size: 1.3rem;
}

#tabs {
	width: 90%;
	margin: 0 auto 100px auto;
	font-size: 1.2rem;
}

#tabs:focus {
	outline: #90C32E;
}
#tabs p {
	font-size: 1.1rem;
}

.item_tab, .property_tab {
	height: auto;
}

.add_room, .add_section, .property_tab {
	height: 550px;
}

.tab_two_wide, .tab_two_long_wide {
	width: 46%;
	margin-right: 3%;
	float: left;
	position: relative;	
	margin-bottom: 10px;
}

.tab_two_wide label {
    float: left;
    padding-right: 5px;
    width: 35%;
    text-align: right;
}

.tab_two_wide select, .tab_one_wide select {
	height: 35px;
} 

.tab_two_wide input, .tab_two_wide select {
  	float: left;
  	width: 65%;
}

.tab_two_long_wide label {
    float: left;
    padding-right: 5px;
    width: 35%;
    text-align: right;
}

.tab_two_long_wide input {
  	float: left;
  	width: 65%;
}

.tab_one_wide .tab_one_wide_text, .tab_one_xwide, .tab_one_wide_text {
	position: relative;
	width: 100%;
	clear: both;
}

.tab_one_wide label, .tab_one_wide_text label {
    float: left;
    padding-right: 5px;
    width: 16%;
    text-align: right;
}

.tab_one_wide input, .tab_one_wide select, .tab_one_wide_text textarea {
  	float: left;
  	width: 79%;
  	margin-bottom: 10px;
}

.tab_one_xwide label {
    float: left;
    padding-right: 5px;
    width: 20%;
    text-align: right;
}

.tab_one_xwide input {
 	float: left;
  	width: 75%;
  	margin-bottom: 10px;	
}

.tab_one_wide_text textarea {
	width: 79%;
	height:90px;
}

p.centered_button {
	display: block;
	text-align: center;
	clear: both;
}

.simple_tooltip i{
	width: 6px;
	color: red;
}

span img {
	width: 1rem;
}

@media screen and (max-width:1250px) {

	.item_tab, .room_tab {
		max-height: auto;
	}

	.tab_two_wide, .tab_two_long_wide {
		width: 100%;
		clear: both;
		margin-right: 0;
		margin-bottom: 10px;
	}

	.tab_one_wide label, .tab_two_wide label, .tab_two_long_wide label, .tab_one_wide_text label {
	    width: 22%;
	}

	.tab_one_wide input, .tab_two_wide input, .tab_two_long_wide input, .tab_one_wide_text textarea, .tab_one_wide select, .tab_two_wide select {
	  	width: 73%;
	}

	.tab_one_xwide label {
		width: 25%;
	}

	.tab_one_xwide input {
		width: 70%;
	}
}

@media screen and (max-width:950px) {

	.tab_one_wide label, .tab_two_wide label, .tab_two_long_wide label, .tab_one_wide_text label, .tab_one_xwide label {
	    width: 35%;
	    margin-bottom: 20px;
	}

	.tab_one_wide input, .tab_two_wide input, .tab_two_long_wide input, .tab_one_wide_text textarea, .tab_one_xwide input, .tab_one_wide select  {
	  	width: 60%;
	  	margin-bottom: 20px;
	}
}

/*             ----------------------------------   POP-UP PHOTO  -----------------------------------         */

#pop-up_header {

}



/*             ---------------------   USER PROFILE  -----------------------         */

.coverage {
	width: 100%;
	clear: both;
}

.coverage label {
	width: 35%;
	padding-right: 5px;
	text-align: right;
	float: left;
}

.coverage input {
  	float: left;
  	width: 45%;
  	margin-bottom: 10px;
}

.password_tab {
	margin-left: 5%;
}

.password_tab h3 {
	font-size: 1.2rem;
	text-align: left;
	clear: both;
}
.password_tab p {
	width: 60%;
	margin: 10px auto;
}